*,
*:before, 
*:after {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 200px;
  background-color: rgb(95, 67, 179);
  border-bottom: 10px solid;
  border-top: 10px solid;
  border-color: rgb(57, 14, 184, .5);
}

.welcome-h1 {
  padding-top: 20px;
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;
  text-align: center;
}
.nasa {
  width: 60px;
  height: 50px;
}

.wrapper {
  width: 100%;  
  display: flex;
  flex-direction: column;
}

.search-bar-input {
  display: inline;
  width: 40%;
  height: 30%;
  margin-left: 400px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
}

.audio-bar {
  width: 20%;
}

main {
  width: 100vw;
  height: 100vh;
}

.main-background {
  background-image: url('./images/Space-Background.jpg');
  background-size: cover;
  background-position: auto 400px;
}

.orbit-container {
  width: 400px;
  height: fit-content;
}

.earth-image-div {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: 70px;
  margin-top: 100px;
  padding-top: 200px;
  background-image: url('./images/earth-image.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

.moon-image-div {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: 400px;
  margin-top: 300px;
  padding-top: 200px;
  background-image: url('./images/moon-image.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.asteroid-image-div {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: 600px;
  margin-top: 300px;
  padding-top: 200px;
  background-image: url('./images/asteroid-svgrepo-com.svg');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
}

.two {
  margin-left: 700px;
  margin-top: 500px;
  -webkit-animation: spin-left 15s linear infinite;
  animation: spin-left 15s linear infinite;
}

.three {
  margin-left: 140px;
  margin-top: 500px;
  -webkit-animation: spin-left 15s linear infinite;
  animation: spin-left 15s linear infinite;
}

.four {
  margin-left: 900px;
  margin-top: 270px;
}

.asteroids-container-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  display: block;
  width: 20%;
  height: 10%;
  margin: 10px;
  float: right;
  text-align: center;
  background-color: rgb(233, 227, 215);
  border: 5px solid;
  border-color: rgb(66, 87, 150);
}

.card h2 {
  font-family:'Dosis', sans-serif;
}

.card p {
  font-family: 'Dosis', sans-serif;
}


@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

  @-webkit-keyframes spin-left {
    100% {
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }